<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>goodbye</title>
  </head>
  <body>
    <h1>GOOD BYE!</h1>
    <p>It was nice to have you here</p>
    <h3>
      Wanna say <%=link_to "hello", say_hello_path %> ?
    </h3>
  </body>
</html>
