<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello Rails!</title>
  </head>
  <body>
    <h1>Hello from rails</h1>
    <h2>The current time is: <%= @time %></h2>
    <h3>
      It's now time to Say <%= link_to "goodbye", say_goodbye_path %>!
    </h3>
  </body>
</html>
